*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size:1rem;
   }
.body{
   

    
}
.wrapper{
    display: flex;
    justify-content: center;
    
    

    width: 100vw;
    height: 100vh;

}

.MainApp{
    position: relative;
    background-color: whitesmoke;
    width: 100%;

    min-width: 300px;
    max-width: 500px;   
}

.HeaderApp{
    width: 100%;
    background-color: burlywood;
    padding: 10px 20px;
}
.HeadBtnsWrap{
position: absolute;
right: 10px;
top:0;
}


.HeadInputWrap{

}
.HeadInputWrap>input{
    
    width: 80%;
    
}
.HeadInputWrap>button{
   
}


.ToDoList{
    background-color: rgb(246, 245, 244);
}

.Task{

    display: flex;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 5px;

    width: 98%;
    padding: 1%;
    margin: 1%; 
   
}
.InfoWrap{
    display: flex;
}
.BtnsWrap{
    display: flex;
}
.BtnsWrap>*{
    padding: 5px 10px;
    
}
.TaskNumber{    
    
    background-color: blue;
   
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 5px;
}
.TaskText{
    padding: 5px 10px;
    max-width: 60%;

}
.TaskReady{
    
}
.TaskClose{
    
    
}

@media (min-width:640px) and (max-width:1023px) {
    html {
     font-size: 1.0625rem;
    }
   }
   
   @media (min-width:1024px) and (max-width:1279px) {
    html {
     font-size: 1.125rem;
    }
   }
   
   /* Define max font size and viewport */
   @media (min-width:1280px) {
    html {
     font-size: 1.1875rem;
    }
   }